* {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin:0 auto;
}

/**********************************************************************
                    header
********************************************************************/
#header {
    background-image: linear-gradient(to top, #53a3e0, #78b1e2, #97bfe4, #b4cee5, #d0dce7);
}


#header #block-creationtheme-branding {
    display:flex;
    align-items:center;
}

#header a {
    text-decoration:none;
}

.site-logo img {
    width:5vw;
    margin:1em 1em;
}



.site-name a {
    font-size: 2em;

}

#header .site-name a {
    color:rgb(133, 10, 10);
}

/*****************NAV*****************************************/

#header a:link {
    color:rgb(175, 14, 14); 
}

#header a:visited {
    color:rgb(175, 14, 14); 
}


.region-header {
	display:flex;
}

.region-header .menu--main {
  width:100%;
}

.menu--main .menu {
	display:flex;
  	justify-content:flex-end;
}

.menu--main .menu .menu-item {
  margin:2em 1em;
}


/***********************************************************************
                MAIN
*********************************************************************/

/****************highlight***********************************/
.background-main {
    background-image: linear-gradient(to bottom, #d0dce7, #b3d0e7, #94c4e7, #6fb8e7, #39ace7); 
}

.highlight {
    background-image: url('../images/atmosphere-blue-sky-bright-258149.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan-main {
    margin-top: 0;
    
}



